
*{
    margin: 8px;
    /* border: 2px solid; */
}

#divCabecalho{
    color: goldenrod;
    /* font-size: xx-large; */
    /* font-weight: bold; */
    justify-content: center;
    align-items: center auto;
    text-align: center;
    font-family: monospace;
    font-size: 28px;
}


body{
    /* justify-content: center;
    align-items: center; */
    background-image: url('../img/wp/5.jpg');
    background-color: black;
    background-repeat: no-repeat;
    /* background-clip: padding-box; */
    background-attachment: fixed;
    background-position: center;
    margin-top: 25px;
}

#divPlacarEsquerda, #divPlacarDireita{
    border-radius: 15px;
}

img{
    margin: 0;
    padding: 0;
    border-radius: 10px;
}
#imgFoto1, #imgFoto2{
    /* max-height: fit-content;
    max-width: fit-content; */
    height: 120px;
    width: 250px;
    margin: 8px;
}

#divFoto1, #divFoto2{
    border: 20px;
    /* border: solid; */
    border-color: darkgray;
    /* border-color: yellowgreen; */
    padding: 0px;
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.divAtributos, #divPlacarEsquerda, #divPlacarDireita{
    height: 35px;
    justify-content: center;
    align-items: center auto;
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    color: white;
    vertical-align: middle;
    border: 1px;
    /* border: solid; */
    border-color: darkslategray;
    /* background-color:black; */
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.divAtributos{
    border-radius: 20px 2px 20px 2px;
}

.divAtributos:hover{
    font-weight: bolder;
    font-style: italic;
    font-size: 27px;
    color: hotpink;
}

.container {
    justify-content: center;
    /* align-items: center; */
    /* position: fixed; */
    border: 3px;
    border-style: none;
    border-color: blanchedalmond;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 300px 30px 300px;
    grid-template-rows: 30px 460px 30px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
}
header, div{
    border: 1px;
    border-style: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center auto;
    text-align: center;
    
    /* color: aliceblue; */
}
header{
    display: block;
}



/* div{
    justify-content: center;
    align-items: center;
} */